#main{
    font-size: calc(20px + (20 - 18) * ((100vw - 300px) / (4000 - 300)));
    line-height: calc(2em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    padding: 2vh 12vw 10vh 12vw;
}
a{
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}
a:hover:not(.active){
    color:gold;
}