body
{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    /*line-height: calc(3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));*/
    color: rgb(255,255,255);
    background-color: rgb(25,25,25);
    color: white;
    margin: auto;
}

#nav{
    max-width: 600px;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'logo link1';
    height:auto;
}

#logo{
    grid-area: logo;
    display: inline;
    font: 2.2rem;
    text-align: left;
    text-align: center;
    vertical-align: middle;
    color: white;
    height: 12vh;
}

#link1{
    grid-area: link1;
}

a:link{
    color:white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}

a{
    -webkit-transition: color .2s;
    -moz-transition:    color .2s;
    -ms-transition:     color .2s;
    -o-transition:      color .2s;
    transition:         color .2s;
}
a:hover:not(.active){
    color:gold;
}

a{
    -webkit-transition: color .2s;
    -moz-transition:    color .2s;
    -ms-transition:     color .2s;
    -o-transition:      color .2s;
    transition:         color .2s;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}
a.active{
    color:rgb(75, 75, 75);
}
a:hover:not(.active){
    color:gold;
}

button{
    padding: 5px;
    color:white;
    background-color: rgb(75, 75, 75);
    display: inline-flex;
    align-items: center;
}
button:hover{
    color:white;
}
.link-button{
    -webkit-transition: background-color .2s;
    -moz-transition:    background-color .2s;
    -ms-transition:     background-color .2s;
    -o-transition:      background-color .2s;
    transition:         background-color .2s;
    -webkit-transition: color .2s;
    -moz-transition:    color .2s;
    -ms-transition:     color .2s;
    -o-transition:      color .2s;
    transition:         color .2s;
	/*font-size: calc(14px + (40 - 14) * ((100vw - 300px) / (4000 - 300)));*/

    background-color: rgb(70, 70, 70);
    padding: 7px;
    margin: 1px;
    white-space: nowrap;
    overflow: hidden;
}

.link-button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(40, 40, 40);
}

#container{
    position: relative;
}
