
@media (min-width:820px){
    #main{
        font-size: calc(20px + (20 - 18) * ((100vw - 300px) / (4000 - 300)));
        line-height: calc(2em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
        padding: 2vh 12vw 10vh 12vw;
    }
    #maingrid{
        display:grid;
        grid-template-areas: 
            'avatar p1'
            'p2 p2';
        column-gap: 5vw;
        row-gap: 3px;
        width: 100vw;
        max-width: 100%;
        height:auto;
    }
    #portrait{
        max-width: 100%;
        max-height: 50vh;
    }
}
@media (max-width:820px){
    #main{
        font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (4000 - 300)));
        line-height: calc(2em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
        padding: 2vh 8vw 10vh 8vw;
    }
    
    #maingrid{
        display:grid;
        grid-template-areas: 
            'avatar'
            'p1'
            'p2';
        column-gap: 3px;
        row-gap: 3px;
        width: 100vw;
        max-width: 100%;
        height:auto;
    }
    #portrait{
        max-width: 100%;
        max-height: 50vw;
    }
}

#portraitimg{
    grid-area: avatar;
    text-align: center;
}
#p1 {
    grid-area: p1;
}
#p2 {
    grid-area: p2;
}