/*
@font-face {
    font-family: "luxi-mono";
    src: url("../luximr.ttf");
}*/

body
{
	font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255,255,255);
    background-color: rgb(25,25,25);
    color: white;
    margin: auto;
}

#nav{
    font-size: 30px;
    max-width: 600px;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'link0 link1';
    height:auto;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#logo{
    height: auto;
    width: auto;
    min-height: 64px;
    min-width: 64px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
    background-image: url("/images/logo1.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#logo:hover{
    background-image: url("/images/logo2.png");
}

#copy-img{
    max-height: 1rem;
}

@media (max-width:620px){
    #nav{
        padding: 2vw;
    }
}

#link0{
    grid-area: link0;
    position: relative;
    border-radius: 15px;
}

#link1{
    grid-area: link1;
    position: relative;
    border-radius: 15px;
}

a:link{
    color:white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}

a{
    -webkit-transition: color .2s;
    -moz-transition:    color .2s;
    -ms-transition:     color .2s;
    -o-transition:      color .2s;
    transition:         color .2s;
    text-align: center;
    margin: 0px 16px;
    text-decoration: none;
}

.custom-button{
    -webkit-transition: background-color .2s;
    -moz-transition:    background-color .2s;
    -ms-transition:     background-color .2s;
    -o-transition:      background-color .2s;
    transition:         background-color .2s;
    -webkit-transition: color .2s;
    -moz-transition:    color .2s;
    -ms-transition:     color .2s;
    -o-transition:      color .2s;
    transition:         color .2s;
        
    display: inline;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(70, 70, 70);
    padding: 7px;
    margin: 1px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.custom-button:hover{
    color: gold;
    background-color: rgb(40, 40, 40);
}

#container{
    position: relative;
}

#main{
    font-size: 18px;
    line-height: 2.4em;
    max-width: 600px;
    padding: 1vw;
    margin: auto;
}

/* about */
#about-grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'p1 p2';
        line-height: 2.4em;
        column-gap: 1vw;
        row-gap: 3px;
        width: 100vw;
        max-width: 100%;
        height:auto;
}

#contact-start{
    text-align: center;
}

#contact-labels{
    grid-area: p1;
    max-width: 50em;
}

#contact-labels li{
    text-align: left;
}

#contact-links{
    grid-area: p2;
    max-width: 50rem;
}

#contact-links li{
    text-align: right;
}

/* for obfuscation */
#email{
    unicode-bidi:bidi-override;
    direction:rtl;
}

@media (max-width:620px){
    #main{
        text-align: center;
        font-size: 4.2vw;
    }
    #logo{
        height: auto;
        width: auto;
        min-height: 13vw;
        min-width: 13vw;
    }
    #contact-labels{
        padding: 2vw;
    }
    #contact-links{
        padding: 2vw;
    }
    #nav{
        font-size: 5vw;
    }
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    align-items: start;
    justify-items: center;
}

.project-image {
    text-align: center;
    height: 12em;
    width: 12em;
    max-height: 180px;
    max-width: 180px;
    margin: 10px;
    border-radius: 5px;
    border-color: white;
    box-shadow: 0 0 0 0.07em rgb(255, 255, 255);
    background-size: auto 11em;
    background-position: 50% 50%;
}

.project-image:hover{
    filter: brightness(50%);
}

#preloadedImages
{
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url(/images/logo1.png);
    background-image: url(/images/logo2.png);
}

