body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

button img {
    width: 150px; /* Adjust based on image size */
    transition: opacity 0.3s ease-in-out;
}
